---
layout: primary-page
id: modals
title: modals
meta: Accessibility, WCAG, Components, Keyboard Accessibility
category: components
status: draft
---
    <p>Modals or pop-up windows aren't usually great for accessibility. They can be disorienting and a cognitive barrier. Modals used to advertise fundraising, discounts, and newsletters pop up like mushrooms on the web and often just get batted away or add to confusing. Only a slim few of these modals are actually accessible.</p>
    <p>Frequently modals don't consider keyboard navigators or screenreader users. Meaning a user can't close the window or they don't know it exists.</p>
    <p>If you do have a modal remember a couple of principles:
      <ul>
        <li>Focus should be kept within the modal. A user should not be able to access the information underneath, this is particularly important for a screenreader user.</li>
        <li>There should be a clearly labelled way to close the reader.</li>
        <li>The modal should be fully navigable and usable with a keyboard. That clearly labelled close button should actually work when a keyboard navigator uses it!</li>
      </ul>
    </p>
