<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Modals</title>
  <meta name="description" content="Accessibility testing">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" href="style.css">-->
  <link rel="icon" type="image/png" sizes="96x96" href="../assets/favicon.png">
  <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body class="full">
  <header class="header">
    <ul class="nav-list">
      <li><a href="../index.html">Home</a></li>
      <li><a href="../resources.html">Resources</a></li>
      <li><a href="../media.html">Media</a></li>
      <li><a href="../documents.html">Documents</a></li>
      <li><a href="../structure.html">Structure</a></li>
      <li><a href="../components.html">UI Components</a></li>
      <li><a href="../text.html">Text</a></li>
    </ul>
  </header>
  <nav aria-label="Secondary" class="secondary">
    <ul>
      <li><a href="labels-instructions.html">Labels & Instructions</a></li>
      <li><a href="links-buttons.html">Links & Buttons</a></li>
      <li><a href="forms.html">Forms</a></li>
      <li><a href="search.html">Search</a></li>
      <li><a href="modals.html">Modals</a></li>
    </ul>
  </nav>
  <main class="main">
    <h1>Modals</h1>
    <p>Modals or pop-up windows aren't usually great for accessibility. They can be disorienting and a cognitive barrier. Modals used to advertise fundraising, discounts, and newsletters pop up like mushrooms on the web and often just get batted away or add to confusing. Only a slim few of these modals are actually accessible.</p>
    <p>Frequently modals don't consider keyboard navigators or screenreader users. Meaning a user can't close the window or they don't know it exists.</p>
    <p>If you do have a modal remember a couple of principles:
      <ul>
        <li>Focus should be kept within the modal. A user should not be able to access the information underneath, this is particularly important for a screenreader user.</li>
        <li>There should be a clearly labelled way to close the reader.</li>
        <li>The modal should be fully navigable and usable with a keyboard. That clearly labelled close button should actually work when a keyboard navigator uses it!</li>
      </ul>
    </p>
  </main>
</body>
