<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ page.title }} | Willabrarian</title>
  <meta name="description" content={{ page.meta }}>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" href="style.css">-->
  <link rel="icon" type="image/png" sizes="96x96" href="https://wlla.github.io/assets/favicon.png">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body class="full">
<header class="header">
</header>
<main class="main">
  <h1>{{ page.title }}</h1>
  {{ content }}
</main>
{% include end-doc.html %}
